{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <section class="container">
    <div class="row">
        <div class="text-center">
            <div class="d-flex align-item-end"> -->
                <!-- <a href="{% url 'category' %}"><button
                        class="btn btn-sm btn-outline-dark rounded-3  d-flex align-items-center mx-1"><i
                            class="fa-solid fa-user  m-1 me-md-2"></i>
                        <p class="d-none d-md-block mb-0 " style="white-space: nowrap;"><small>Add Category </small></p>
                    </button>
                </a>
                <a href="{% url 'create_child_category' %}"><button
                        class="btn btn-sm btn-outline-dark rounded-3  d-flex align-items-center mx-1"><i
                            class="fa-solid fa-user  m-1 me-md-2"></i>
                        <p class="d-none d-md-block mb-0 " style="white-space: nowrap;"><small>Add Child Category </small>
                        </p>
                    </button>
                </a>
                <a href="{% url 'create_grant_child_category' %}"><button
                        class="btn btn-sm btn-outline-dark rounded-3  d-flex align-items-center mx-1"><i
                            class="fa-solid fa-user  m-1 me-md-2"></i>
                        <p class="d-none d-md-block mb-0 " style="white-space: nowrap;"><small>Add Grant Child
                                Category</small>
                        </p>
                    </button>
                </a> -->



                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Launch static backdrop modal
                </button> -->

              
                <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">


                                <form method="post">
                                    <div class="row m-3">
                                        {% csrf_token %}
                                        <div class="card-title text-center">
                                            <label for="Category">
                                                <p class="fs-3 py-2">Add Category</p>
                                            </label>
                                        </div>
                                        <div class="m-1">
                                            <input class="form-control" type="text" name="category" id="Category" title="Category"
                                                placeholder="Category Name">
                                        </div>
                                        <div class="my-3 mt-4 d-flex justify-content-center">
                                            <input type="submit" value="Add" class="btn btn-success ">
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div> 




            </div>
        </div>
    </div> -->
    <div class=" row">
        <div class="d-flex justify-content-center ">
            <div class="card m-3 mb-5 py-3 px-5">
                <h1 class="display-6">Categories</h1>
                <div class="mt-4">
                    {% for i in prod_cat %}
                    
                    <a href="{% url 'shop_by_category' i.category_uid %}" class="nav-link">
                        
                            <p>{{i.category_name}}</p>
                        
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</section>


{% endblock %}