{% extends 'base.html' %}
{% block content %}

<style>
    .icon-hover:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
    }

    .icon-hover:hover i {
        color: #3b71ca !important;
    }

    .grad {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .cat-icon:hover {
        box-shadow: 0 10px 6px -6px #37363773;
    }

    .card button:hover,
    .card:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.3);
        transform: scale(1);
        transition: .2s all ease-in-out;
        transition-timing-function: ease-in-out;

    }
</style>
<!--Main Navigation-->


<!-- intro -->
<!-- {% if request.user.is_anonymous %} -->
<!-- <section class="pt-3">
    <div class="container">
        <div class="row g-3">
            <main class="col-lg-9">
                <div class="grad card-banner p-5 bg-primary rounded-5" style="height: 350px;">
                    <div style="max-width: 500px;">
                        <h2 class="text-white">
                            Great products with <br />
                            best deals
                        </h2>
                        <p class="text-white">No matter how far along you are in your sophistication as an amateur
                            astronomer, there is always one.</p>
                        <a href="#" class="btn btn-light shadow-0 text-primary"> View more </a>
                    </div>
                </div>
            </main>
            <aside class="col-lg-3">
                <div class="card-banner h-100 rounded-5" style="background-color: #f87217;">
                    <div class="card-body text-center pb-5">
                        <h5 class="pt-5 text-white">Amazing Gifts</h5>
                        <p class="text-white">No matter how far along you are in your sophistication</p>
                        <a href="#" class="btn btn-outline-light"> View more </a>
                    </div>
                </div>
            </aside>
        </div>
        
    </div>
    
</section> -->


<!-- category -->
<!-- <section>
    <div class="container pt-5">
        <nav class="row gy-4">
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center ">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-couch fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Interior items</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-basketball-ball fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Sport and travel</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-ring fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Jewellery</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-clock fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Accessories</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-car-side fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Automobiles</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-home fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Home items</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-guitar fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Musical items</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-book fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Book, reading</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-baby-carriage fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Kid's toys</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-paw fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Pet items</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-tshirt fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Men's clothing</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-shoe-prints fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Men's clothing</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-mobile fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Smartphones</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-tools fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Tools</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-pencil-ruler fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Education</div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="text-center d-flex flex-column justify-content-center">
                            <button type="button" class="btn btn-outline-secondary mx-auto p-3 mb-2 rounded-4 cat-icon"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-warehouse fa-xl fa-fw"></i>
                            </button>
                            <div class="text-dark">Other items</div>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>
{% endif %} -->
<!-- category -->

<!-- Products -->
<section>
    <div class="container my-5">
        <header class="mb-4">
            <h3>New products</h3>
        </header>

        <div class="row">
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <div class="bg-image">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-start h-100 m-2">
                                    <h6><span class="badge bg-danger pt-1">New</span></h6>
                                </div>
                            </div>
                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/1.webp"
                                class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                        </div>
                    </a>
                    <div class="card-body pt-3">
                        <a href="#!" class="btn btn-sm rounded-3 px-2 pt-2 float-end "><i
                                class="fas fa-heart fa-lg px-1 text-danger"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">GoPro action camera 4K</p>
                        <p class="text-muted">
                            Model: X-200
                        </p>
                    </div>
                </div>
            </div> -->
            {% for prod in object_list %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="{% url 'product_detail' prod.product_id %}">
                        <!-- <div class="mask" >
                            <div class="d-flex justify-content-start align-items-start ">
                                <h6><span class="badge pt-1" style="background-color: #f87217;">Offer</span></h6>
                            </div>
                        </div> -->
                        <img src="{{ prod.product_images.url }}" class="card-img-top rounded-2"
                            style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body pt-2">
                        <!-- <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a> -->
                                <form action="{% url 'wishlist' %}" method="post">
                                    {% csrf_token %}
                                
                                      <!-- <a href="#!" class="btn btn-light btn-sm icon-hover p-1 ">
                                            <small><i class="fas fa-heart fa-lg text-secondary px-1"></i></small></a> -->
                                      <button type="submit" class="btn btn-outline-danger border-0 float-end px-2"><i
                                          class=" bi {% if prod.product_id in wish %} bi-heart-fill {% else %} bi-heart {% endif %} {% if not request.user.is_authenticated %} disabled {% endif %}"></i></button>
                                      <input name="product_id" type="hidden" value="{{prod.product_id}}">
                                   
                                  </form>
                        <a href="{% url 'product_detail' prod.product_id %}" class="nav-link">
                            <h5 class="card-title">${{prod.cost}}</h5>
                            <p class="card-text mb-0">{{prod.name|truncatechars:20}}</p>
                            <p class="text-muted small">
                                <small>{{prod.description|truncatechars:50}}</small>
                            </p>
                        </a>
                    </div>

                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/3.webp"
                            class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body  pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Sizes: S, M, XL
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/4.webp"
                            class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body  pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$1099.00</h5>
                        <p class="card-text mb-0">Apple iPhone 13 Pro max</p>
                        <p class="text-muted">
                            Color: Black, Memory: 128GB
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp"
                            class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body  pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Sizes: S, M, XL
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/6.webp"
                            class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body  pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Model: X-200
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp"
                            class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body  pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Sizes: S, M, XL
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp"
                            class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body  pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Material: Jeans
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Products -->

<!-- Features -->
<section>
    <div class="container">
        <div class="card p-4 bg-dark">
            <div class="row align-items-center">
                <div class="col">
                    <h4 class="mb-0 text-white">Best products and brands in store</h4>
                    <p class="mb-0 text-white-50">Trendy products and text to build on the card title</p>
                </div>
                <div class="col-auto h-100"><a class="btn btn-white text-white shadow-0" href="#">Discover</a></div>
            </div>
        </div>
    </div>
</section>
<!-- Features -->

<!-- Recommended -->
<section>
    <div class="container my-5">
        <header class="mb-4">
            <h3>Recommended</h3>
        </header>

        <div class="row">
            {% for prod in reverse_obj_list %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="{% url 'product_detail' prod.product_id %}">
                        <!-- <div class="mask" >
                            <div class="d-flex justify-content-start align-items-start ">
                                <h6><span class="badge pt-1" style="background-color: #f87217;">Offer</span></h6>
                            </div>
                        </div> -->
                        <img src="{{ prod.product_images.url }}" class="card-img-top rounded-2"
                            style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body pt-2">
                        <form action="{% url 'wishlist' %}" method="post">
                            {% csrf_token %}
                        
                              <!-- <a href="#!" class="btn btn-light btn-sm icon-hover p-1 ">
                                    <small><i class="fas fa-heart fa-lg text-secondary px-1"></i></small></a> -->
                              <button type="submit" class="btn btn-outline-danger border-0 float-end px-2"><i
                                  class=" bi {% if prod.product_id in wish %} bi-heart-fill {% else %} bi-heart {% endif %} {% if not request.user.is_authenticated %} disabled {% endif %}"></i></button>
                              <input name="product_id" type="hidden" value="{{prod.product_id}}">
                           
                          </form>
                        <a href="{% url 'product_detail' prod.product_id %}" class="nav-link">
                            <h5 class="card-title">${{prod.cost}}</h5>
                            <p class="card-text mb-0">{{prod.name|truncatechars:20}}</p>
                            <p class="text-muted small">
                                <small>{{prod.description|truncatechars:50}}</small>
                            </p>
                        </a>
                    </div>

                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp"
                            class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body  pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$9.50</h5>
                        <p class="card-text mb-0">Slim fit T-shirt for men</p>
                        <p class="text-muted">
                            Sizes: S, M, XL
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp"
                            class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body  pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Sizes: S, M, XL
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/12.webp"
                            class="card-img-top rounded-2" style="aspect-ratio: 1 / 1" />
                    </a>
                    <div class="card-body  pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Material: Jeans
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>



{% endblock %}