{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

    @media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }
    }
</style>

<section class="py-3" style="background-color: #eee;">
    <div class="container vh-100 vh-sm">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-md-12 col-lg-9 col-xl-10">
                <div class="card text-black my-sm-4 mx-3 my-5 rounded-3" >
                    <div class="card-body p-sm-2 p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-7 col-lg-7 col-xl-7">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                                    class="img-fluid" alt="Sample image">
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5 ">
                                <h3 class="text-center my-4">Login</h3>
                                <form method="post" role="form">
                                    {% csrf_token %}


                                    <!-- Email input -->
                                    <div class="form-outline mb-4 mx-3">
                                        <input required type="name" id="form3Example3" class="form-control" name="username"
                                            placeholder="Username" title="Username"/>
                                        <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-3 mx-3">
                                        <input required type="password" id="form3Example4" class="form-control" name="password"
                                            placeholder="Password" title="Password"/>
                                        <!-- <label class="form-label" for="form3Example4">Password</label> -->
                                    </div>
                                    <!-- 
                                    <div class="d-flex justify-content-between align-items-center">
                                        Checkbox
                                        <div class="form-check mb-0">
                                            <input class="form-check-input me-2" type="checkbox" value=""
                                                id="form2Example3" />
                                            <label class="form-check-label" for="form2Example3">
                                                Remember me
                                            </label>
                                        </div>
                                        <a href="#!" class="text-body">Forgot password?</a>
                                    </div> -->
                                    <!-- <div class="d-flex justify-content-between align-items-center"> -->
                                    <div class="text-center mt-4 pt-2">
                                        <button type="submit" class="btn text-center btn-outline-secondary rounded-3 px-3 "
                                            >Login</button>
                                        <!-- <p class="small  mt-2 pt-1 mb-3 ">Don't have an account? <a href="#"
                                                class="link-danger">Register</a></p> -->
                                    </div>
                                    <!-- </div> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}